<section id="hdader-main" class="border-2 rounded-md p-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4">
    <div id="logo" class="flex items-center justify-center"><app-logo></app-logo></div>
    <div id="invoice-details" class="flex items-center justify-center"><app-invoice-details></app-invoice-details></div>
    <div id="client-details" class="flex items-center justify-center"><app-client-details></app-client-details></div>
    <div id="contact" class="flex items-center justify-center"><app-contact-details></app-contact-details></div>
  </div>
</section>