<div class="flex-col gap-2 justify-center items-start">
  <div id="client-name">
    <label for="clientName">Client Name:</label><br>
    <select id="clientName" name="clientName" class="input-field header-info" required>
      <option value="">Select client name</option>
      <option value="yummy">Yummy Bakery and Sweets</option>
      <option value="technozone">Techno Zone</option>
    </select>
  </div>
  <div id="billing-period">
    <label for="billingPeriod">Billing Period:</label><br>
    <input type="text" id="billingPeriod" name="billingPeriod" class="input-field header-info"
      placeholder="from date - to date" required>
  </div>
</div>