<section id="main-card" class="">
  <div class="flex justify-center items-center p-4 md:p-16 rounded-xl shadow-lg bg-white">
    <div class="flex flex-col space-y-6 items-center">
      <h1 class="uppercase text-xl md:text-4xl">Invoice Generator</h1>

      <!-- Form -->
      <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
        <!-- Header Section -->
        <section id="header" class="border rounded-md p-8 space-y-8">
          <!-- Logo -->
          <div class="flex justify-center">
            <app-logo></app-logo>
          </div>

          <!-- Client Details -->
          <div id="client-details" class="flex flex-col md:flex-row justify-between w-full gap-4">
            <!-- Client Name -->
            <div class="flex items-center gap-4 w-full justify-center">
              <mat-form-field class="max-w-md md:w-full" appearance="fill">
                <mat-label>Client Name</mat-label>
                <mat-select formControlName="clientName" required>
                  @for (client of clients; track client) {
                  <mat-option [value]="client.value">{{ client.viewValue }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Billing Period -->
            <div class="flex items-center gap-4 w-full justify-center">
              <mat-form-field class="max-w-md md:w-full" appearance="fill">
                <mat-label>Billing Period</mat-label>
                <input matInput type="text" formControlName="billingPeriod" required />
              </mat-form-field>
            </div>
          </div>
        </section>

        <!-- Service List -->
        <section id="service-list" formArrayName="services" class="scroll_container">
          <div class="w-full overflow-x-auto">
            <table mat-table [dataSource]="dataSource"
              class="mat-elevation-z8 rounded-lg shadow-lg table-auto w-full border border-gray-300">
              <!-- Service Column -->
              <ng-container matColumnDef="service">
                <th mat-header-cell *matHeaderCellDef class="p-2 text-xs md:text-sm">Service</th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" class="p-2 text-xs md:text-sm">
                  <input matInput placeholder="Service" formControlName="service" class="w-full" />
                </td>
              </ng-container>

              <!-- Price Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="p-2 text-xs md:text-sm">Price</th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" class="p-2 text-xs md:text-sm">
                  <input matInput type="number" placeholder="Price" formControlName="price" class="w-full" />
                </td>
              </ng-container>

              <!-- Discount Column -->
              <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef class="p-2 text-xs md:text-sm">Discount %</th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" class="p-2 text-xs md:text-sm">
                  <input matInput type="number" placeholder="Discount" formControlName="discount" class="w-full" />
                </td>
              </ng-container>

              <!-- Final Price Column -->
              <ng-container matColumnDef="finalPrice">
                <th mat-header-cell *matHeaderCellDef class="p-2 text-xs md:text-sm">Final Price</th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" class="p-2 text-xs md:text-sm">
                  <input matInput type="number" placeholder="Final Price" formControlName="finalPrice" class="w-full"
                    readonly />
                </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="p-2 text-xs md:text-sm w-20">Actions</th>
                <td mat-cell *matCellDef="let row; let i = index" class="p-2 text-xs md:text-sm w-20">
                  <button mat-icon-button color="warn" (click)="deleteRow(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <!-- Header and Row -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

          <!-- Total Section -->
          <div class="flex justify-end items-center mt-4 pr-4">
            <p class="text-sm md:text-lg font-bold">
              Total: ₹{{ invoiceForm.get('total')?.value }}
            </p>
          </div>
        </section>

        <!-- Action Buttons -->
        <div class="flex justify-center gap-4 mt-8">
          <button mat-raised-button color="primary" type="button" (click)="addNewService()">Add Service</button>
          <button mat-raised-button color="accent" type="submit" [disabled]="!invoiceForm.valid">Download</button>
        </div>
      </form>
    </div>
  </div>
</section>