@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field {
  @apply w-full;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.mat-select-panel {
  border-radius: 0.5rem;
}

#header {
  @apply space-y-8;
}

#client-details {
  @apply flex flex-col md:flex-row justify-between w-full gap-4;
}

.scroll_container {
  @apply w-full overflow-x-auto overflow-auto;
}
