@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-quartz.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000; /* black */
  --background-color: #fff; /* white */
  --text-color: #000; /* black */
}

.light-theme {
  --primary-color: #000; /* black */
  --background-color: #fff; /* white */
  --text-color: #000; /* black */
}

.dark-theme {
  --primary-color: #fff; /* white */
  --background-color: #333; /* dark gray */
  --text-color: #fff; /* white */
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color); /* Apply background color */
  color: var(--text-color); /* Apply text color */
}

body {
  margin: 0;
}

.main-container {
  @apply mx-auto w-full max-w-6xl mt-20 min-h-screen;
}

.header-title {
  @apply uppercase text-xl md:text-4xl;
}

.theme-toggle-btn {
  @apply py-2 px-4;
}

.header-section {
  @apply border rounded-md p-2;
}

.logo-container {
  @apply flex justify-center;
}

.client-details {
  @apply flex flex-col md:flex-row justify-between w-full gap-4;
}

.service-table {
  @apply shadow-lg rounded-lg table-auto w-full border border-gray-300;
}

.service-header,
.service-cell {
  @apply p-2 text-xs md:text-sm;
}

.total-section {
  @apply flex justify-end items-center mt-4 pr-4;
}

.total-text {
  @apply text-sm md:text-lg font-bold;
}

.action-buttons {
  @apply flex w-full justify-center gap-4 mt-2;
}

.language-switch {
  @apply flex gap-2;
}

button.mat-raised-button {
  @apply p-2;
}

button.mat-button {
  @apply p-2;
}

button.mat-icon-button {
  @apply text-xs md:text-sm;
}

.form-container {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 1rem;
  @apply flex justify-center items-center p-2 md:p-4 rounded-xl shadow-lg;
}

.header,
.footer {
  background-color: var(--background-color);
}

/* ag-grid */
.card-container {
  @apply w-full;
}
.history-data-card {
  @apply text-xs md:text-sm p-2 md:p-4 rounded-xl shadow-lg overflow-x-auto w-full;
}

.ag-theme-quartz {
  @apply text-xs md:text-sm h-full w-full;
}

.ag-theme-quartz .ag-header,
.ag-theme-quartz .ag-header-cell,
.ag-theme-quartz .ag-header-cell-label,
.ag-theme-quartz .ag-row .ag-cell {
  @apply p-2;
}
