/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-label {
  @apply w-24 font-bold md:font-normal text-xs uppercase inline-block;
}

.label-details-container {
  @apply flex md:space-x-4 space-x-2 justify-center items-center;
}

.header-fields-group-container {
  @apply flex flex-col space-y-0 md:space-y-2 items-start p-6;
}

.website-url {
  @apply text-blue-500 hover:underline cursor-pointer;
}
